* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: center;
  flex-wrap: wrap;
  background-attachment: fixed;
  background-position: 80%;
  background-color: blue;
  position: relative;
  height: 300px;
  padding: 60px;
  background-image: url("../images/background.jpeg");
}

.hero-img {
  object-fit: cover;
}

.hero-sub {
  padding: 20px;
  background-color: #ffffff;
  color: #024e76;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.hero-sub h2 {
  text-size-adjust: 80%;
  font-size: 50px;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  background-size: cover;
  background-color: #666666;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.primary-border {
  border-color: black;
}
.section-title {
  font-size: 48px;
  padding-bottom: 20px;
  text-align: left;
  margin: 0 auto 0 0;
}

.intro {
  text-align: left;
}

.intro h2 {
  font-size: 55px;
  color: #024e76;
  margin-right: 10px;
  padding: 0px 10px 0px 0px;
  border-right: 3px solid;
  border-color: black;
  display: inline;
  float: left;
}

.grid-container {
  display: grid;
  display: flex;
  width: 100%;
  justify-content: center;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.contact-info {
  display: inline;
  border-bottom: 3px solid;
  border-color: black;
}

footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
